{% extends "opress/base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}{{ pagina.titulo }} - {% endblock %}
{% block content %}
  <section>
     <header class="row">
        	<div class="col-md-12">
                <div class="portada">
                  <h1>{{ pagina.titulo }}</h1>
                </div>
                {% include "opress/migas.html" %}
       	  </div>
     </header>
     <div class="row">
        <nav class="col-xs-12 col-sm-2 col-md-1 secundaria-menu-news">
        	<ul class="nav nav-pills nav-stacked">
          {% for mes in meses %}
              <li{% if anyo_actual == mes.year|slugify and mes_actual == mes.month|slugify %} class="active"{% endif %}>
                  <a href="{% url 'opress:events_archive' mes.year mes.month %}">{{ mes|date:"F" }} {{ mes.year }}</a>
              </li>
          {% endfor %}
            </ul>
        </nav>
        <div class="col-xs-12 col-sm-10 col-md-11 secundaria-texto-news">
            <div class="row">
            	{% for event in events_list %}
                	<article class="news-secun col-xs-12 col-sm-12 col-md-6 agenda">
                    	<span>{{ event.get_dates_str }}</span><br>
                        <a href="{% url 'opress:event_detail' event.slug %}"><img src="{{ event.icono.get_agenda_icono_url }}" alt="{{ event.icono.title }}" class="old_image"></a>
                        <h2><a href="{% url 'opress:event_detail' event.slug %}">{{ event.titulo }}</a></h2>
                        <p>{{ event.entradilla|safe }}</p>
                    </article>
                    {% if forloop.counter|divisibleby:2 %}
                     <div class="clearfix hidden-xs"></div>
                    {% endif %}
                {% endfor %}
             </div>
             
             <hr class="hidden-xs"/>
            {% if events_list.has_next %}
                 <span class="pull-right"><a href="?page={{ events_list.next_page_number }}">Posteriores</a> <span class="glyphicon glyphicon-chevron-right" style="color:#E94C06"></span></span></h2>
            {% endif %}
            {% if news_list.has_previous %}
                <span class="pull-left"><span class="glyphicon glyphicon-chevron-left" style="color:#E94C06"></span> <a href="?page={{ events_list.previous_page_number }}">Anteriores</a></span></h2>
            {% endif %}
            <div class="clearfix"><br /></div>
            <hr/>
        </div>    
    </div>
</section>
{% endblock %}